@let vm = (vm$ | async)!;

<ng-container>
    <hlm-dialog>
        <hlm-dialog-header>
            <h3 hlmDialogTitle>Add Address</h3>
        </hlm-dialog-header>
        <div class="py-4 grid gap-4">
            <form [formGroup]="addAddressForm" (ngSubmit)="handleOnSubmit()">
                <ng-container [ngTemplateOutlet]="addressField"></ng-container>
                <ng-container [ngTemplateOutlet]="countryField"></ng-container>
                <div class="w-full flex flex-row justify-end">
                    <button type="button" hlmBtn (click)="handleOnCancel()" variant="outline" class="mr-2">
                        Cancel
                    </button>
                    <button 
                        hlmBtn 
                        type="submit" 
                        (click)="handleOnSubmit()" 
                        [disabled]="addAddressForm.pristine || addAddressForm.invalid">
                        @if(vm.creating) {
                            <hlm-spinner class="w-5 h-5 mr-2" />
                            Creating
                        } @else { 
                            Create 
                        }
                    </button>
                </div>
            </form>
        </div>
    </hlm-dialog>
<ng-container>

<ng-template #addressField>
    <div class="flex flex-col sm:items-start sm:grid sm:grid-cols-10 gap-1 mt-2">
        <label
            hlmLabel
            for="address"
            class="h-10 col-span-2 text-left sm:text-right mr-2 py-3"
            >Address*</label
        >
        <textarea
            hlmInput
            id="street"
            type="text"
            class="h-16 col-span-8 self-start"
            [rows]="4"
            [formControl]="addAddressForm.controls.address"
        ></textarea>
    </div>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mb-2 min-h-6">
        @let a = addAddressForm.controls.address;

        <div class="text-left sm:text-right col-span-2">
            <span></span>
        </div>

        @if(a?.invalid && (a?.dirty || a?.touched)) {
            <div class="col-span-8">
                <span class="font-bold text-xs text-destructive">
                    @if(a?.hasError("required")) { This field is required }
                </span>
            </div>
        }
    </div>
</ng-template>

<ng-template #countryField>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mt-2">
        <label
            hlmLabel
            for="country"
            class="text-left sm:text-right col-span-2 mr-2"
            >Country*</label
        >
        <div class="col-span-8">
            <brn-select class="inline-block w-full" placeholder="Select country" #countrySelect>
                <hlm-select-trigger class="w-full">
                    <hlm-select-value />
                </hlm-select-trigger>
                <hlm-select-content>
                    @for (country of countryList; track $index) {
                        <hlm-option [value]="country"> {{ country }} </hlm-option>
                    }
                </hlm-select-content>
            </brn-select>
        </div>
        
    </div>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mb-2 min-h-6">
        @let c = addAddressForm.controls.country;

        <div class="text-left sm:text-right col-span-2">
            <span></span>
        </div>

        @if(c?.invalid && (c?.dirty || c?.touched)) {
            <div class="col-span-8">
                <span class="font-bold text-xs text-destructive">
                    @if(c?.hasError("required")) { This field is required }
                </span>
            </div>
        }
    </div>
</ng-template>