<section hlmCard class="w-full sm:w-60 min-h-[27rem]">
    <div hlmCardContent class="p-0 pt-4">
      <div class="w-full sm:w-60 aspect-square">
        <img class="w-full h-full object-center object-contain" [src]="product.images[0]" [alt]="product.title">
      </div>
      <div class="w-full sm:w-52 sm:max-w-52 px-4">
        <h3 hlmCardTitle class="line-clamp-2 text-ellipsis mt-4">{{ product.title }}</h3>
        <p hlmCardDescription class="line-clamp-3 text-ellipsis mt-2">{{ product.description }}</p>
      </div>
    </div>
    <div hlmCardFooter class="p-4 pt-0">
      <p>{{ product.price }}</p>
    </div>
</section>