@let vm = (vm$ | async)!;

<form [formGroup]="userInfoForm" action="">
    <ng-container [ngTemplateOutlet]="idField"></ng-container>
    <ng-container [ngTemplateOutlet]="usernameField"></ng-container>
    <ng-container [ngTemplateOutlet]="emailField"></ng-container>
    <ng-container [ngTemplateOutlet]="firstNameField"></ng-container>
    <ng-container [ngTemplateOutlet]="lastNameField"></ng-container>
    <ng-container [ngTemplateOutlet]="phoneField"></ng-container>
    <ng-container [ngTemplateOutlet]="displayError"></ng-container>
</form>

@if (isEditing) {
    <div class="w-full flex flex-row justify-end">
        <button hlmBtn (click)="handleOnCancel()" variant="outline" class="mr-2">
            Cancel
        </button>
        <button hlmBtn (click)="handleOnSave()">
            @if(vm.updating) {
                <hlm-spinner class="w-5 h-5" />
            } @else { 
                SAVE 
            }
        </button>
    </div>
} 

@if (!isEditing) {
    <div class="w-full flex flex-row justify-end">
        <button hlmBtn (click)="handleOnChangeEdit()">
            <hlm-icon size='sm' name="bootstrapPencilFill" class="mr-2"></hlm-icon>
            Edit
        </button>
    </div>
}


<ng-template #idField>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mt-2">
        <label hlmLabel for="id-field" class="text-left sm:text-right sm:col-span-2 mr-2"
            >ID*</label
        >
        <input
            hlmInput
            id="id-field"
            type="text"
            class="col-span-7"
            [formControl]="userInfoForm.controls.id"
        />
        <button hlmBtn class="col-span-1 py-1 px-2" variant="outline" (click)="handleOnCopyID()">
            <hlm-icon size='sm' class="h-4 w-4" name="bootstrapCopy"></hlm-icon>
        </button>
    </div>
    <div class="flex sm:items-center grid grid-cols-20 gap-1 mb-2 min-h-6"></div>
</ng-template>

<ng-template #usernameField>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mt-2">
        <label hlmLabel for="username-field" class="text-left sm:text-right sm:col-span-2 mr-2"
            >Username*</label
        >
        <input
            hlmInput
            id="username-field"
            type="text"
            class="col-span-8"
            [formControl]="userInfoForm.controls.username"
        />
    </div>
    <div class="items-center grid grid-cols-10 gap-1 mb-2 min-h-6"></div>
</ng-template>

<ng-template #emailField>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mt-2">
        <label hlmLabel for="email-field" class="text-left sm:text-right sm:col-span-2 mr-2"
            >Email*</label
        >
        <input
            hlmInput
            id="email-field"
            type="text"
            class="col-span-8"
            [formControl]="userInfoForm.controls.email"
        />
    </div>
    <div class="items-center grid grid-cols-10 gap-1 mb-2 min-h-6"></div>
</ng-template>

<ng-template #firstNameField>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mt-2">
        <label hlmLabel for="first-name-field" class="text-left sm:text-right sm:col-span-2 mr-2"
            >First Name*</label
        >
        <input
            hlmInput
            id="first-name-field"
            type="text"
            class="col-span-8"
            [formControl]="userInfoForm.controls.first_name"
        />
    </div>
    <div class="items-center grid grid-cols-10 gap-1 mb-2 min-h-6"></div>
</ng-template>

<ng-template #lastNameField>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mt-2">
        <label hlmLabel for="last-name-field" class="text-left sm:text-right sm:col-span-2 mr-2"
            >Last Name*</label
        >
        <input
            hlmInput
            id="last-name-field"
            type="text"
            class="col-span-8"
            [formControl]="userInfoForm.controls.last_name"
        />
    </div>
    <div class="items-center grid grid-cols-10 gap-1 mb-2 min-h-6"></div>
</ng-template>

<ng-template #phoneField>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mt-2">
        <label hlmLabel for="phone-field" class="text-left sm:text-right sm:col-span-2 mr-2"
            >Phone*</label
        >
        <input
            hlmInput
            id="phone-field"
            type="text"
            class="col-span-8"
            [formControl]="userInfoForm.controls.phone"
        />
    </div>
    <div class="items-center grid grid-cols-10 gap-1 mb-2 min-h-6"></div>
</ng-template>

<ng-template #displayError>
    @if(!vm.success && vm.message) {
    <div hlmAlert variant="destructive" class="mb-5">
        <hlm-icon hlmAlertIcon name="lucideTriangleAlert" />
        <h4 hlmAlertTitle>Error</h4>
        <p hlmAlertDesc>{{ vm.message }}</p>
    </div>
    }
</ng-template>