@let vm = (vm$ | async)!;

<hlm-dialog>
    <ng-container>
        <hlm-dialog-header>
            <h3 hlmDialogTitle>Register</h3>
            <p hlmDialogDescription>Create a new one to join us</p>
        </hlm-dialog-header>
        <div class="py-4 grid gap-4">
            <form [formGroup]="registerForm" (ngSubmit)="submit()">
                <ng-container [ngTemplateOutlet]="usernameField"></ng-container>
                <ng-container [ngTemplateOutlet]="emailField"></ng-container>
                <ng-container [ngTemplateOutlet]="firstNameField"></ng-container>
                <ng-container [ngTemplateOutlet]="lastNameField"></ng-container>
                <ng-container [ngTemplateOutlet]="phoneField"></ng-container>
                <ng-container [ngTemplateOutlet]="passwordField"></ng-container>
                <ng-container
                    [ngTemplateOutlet]="confirmPasswordField"
                ></ng-container>
                <ng-container [ngTemplateOutlet]="displayError"></ng-container>
                <button class="w-full" hlmBtn type="submit" (click)="submit()">
                    @if(vm.registering) {
                    <hlm-spinner class="w-5 h-5" />
                    } @else { REGISTER }
                </button>
            </form>
        </div>
        <hlm-dialog-footer>
            <div class="w-full flex flex-col items-center">
                <span class="mt-2 text-sm">
                    Already have an account?
                    <a
                        class="text-primary cursor-pointer underline"
                        (click)="login()"
                        >Login</a
                    >
                </span>
            </div>
        </hlm-dialog-footer>
    </ng-container>
</hlm-dialog>

<ng-template #usernameField>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mt-2">
        <label hlmLabel for="username" class="text-left sm:text-right col-span-3 mr-2"
            >Username</label
        >
        <input
            hlmInput
            id="username"
            type="text"
            class="col-span-7"
            minlength="6"
            maxlength="20"
            [formControl]="registerForm.controls.username"
        />
    </div>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mb-2 min-h-6">
        @let u = registerForm.controls.username;

        <div class="text-right col-span-3">
            <span></span>
        </div>

        @if(u?.invalid && (u?.dirty || u?.touched)) {
        <div class="col-span-7">
            <span class="font-bold text-xs text-destructive">
                @if(u?.hasError("required")) { This field is required }
                @if(u?.hasError("minlength")) { The username must be have more 6
                characters long } @if(u?.hasError("maxlength")) { The username
                must be have less 20 characters long }
            </span>
        </div>
        }
    </div>
</ng-template>

<ng-template #emailField>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mt-2">
        <label hlmLabel for="email" class="text-left sm:text-right col-span-3 mr-2"
            >Email</label
        >
        <input
            hlmInput
            id="email"
            type="email"
            class="col-span-7"
            [formControl]="registerForm.controls.email"
        />
    </div>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mb-2 min-h-6">
        @let e = registerForm.controls.email;

        <div class="text-right col-span-3">
            <span></span>
        </div>

        @if(e?.invalid && (e?.dirty || e?.touched)) {
        <div class="col-span-7">
            <span class="font-bold text-xs text-destructive">
                @if(e?.hasError("required")) { This field is required }
                @if(e?.hasError("email")) { Invalid email }
            </span>
        </div>
        }
    </div>
</ng-template>

<ng-template #firstNameField>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mt-2">
        <label hlmLabel for="first-name" class="text-left sm:text-right col-span-3 mr-2"
            >First Name</label
        >
        <input
            hlmInput
            id="first-name"
            type="text"
            class="col-span-7"
            minlength="2"
            maxlength="30"
            [formControl]="registerForm.controls.firstName"
        />
    </div>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mb-2 min-h-6">
        @let fn = registerForm.controls.firstName;

        <div class="text-right col-span-3">
            <span></span>
        </div>

        @if(fn?.invalid && (fn?.dirty || fn?.touched)) {
        <div class="col-span-7">
            <span class="font-bold text-xs text-destructive">
                @if(fn?.hasError("required")) { 
                    This field is required 
                } @if(fn?.hasError("minlength")) { 
                    The first name must be have more 2 characters long 
                } @if(fn?.hasError("maxlength")) { 
                    The first name must be have less 30 characters long 
                }
            </span>
        </div>
        }
    </div>
</ng-template>

<ng-template #lastNameField>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mt-2">
        <label hlmLabel for="last-name" class="text-left sm:text-right col-span-3 mr-2"
            >Last Name</label
        >
        <input
            hlmInput
            id="last-name"
            type="text"
            class="col-span-7"
            minlength="2"
            maxlength="30"
            [formControl]="registerForm.controls.lastName"
        />
    </div>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mb-2 min-h-6">
        @let ln = registerForm.controls.lastName;

        <div class="text-right col-span-3">
            <span></span>
        </div>

        @if(ln?.invalid && (ln?.dirty || ln?.touched)) {
        <div class="col-span-7">
            <span class="font-bold text-xs text-destructive">
                @if(ln?.hasError("required")) { 
                    This field is required 
                } @if(ln?.hasError("minlength")) { 
                    The first name must be have more 2 characters long 
                } @if(ln?.hasError("maxlength")) { 
                    The first name must be have less 30 characters long 
                }
            </span>
        </div>
        }
    </div>
</ng-template>

<ng-template #phoneField>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mt-2">
        <label hlmLabel for="phone" class="text-left sm:text-right col-span-3 mr-2"
            >Phone</label
        >
        <input
            hlmInput
            id="phone"
            type="text"
            class="col-span-7"
            minlength="2"
            maxlength="30"
            [formControl]="registerForm.controls.phone"
        />
    </div>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mb-2 min-h-6">
        @let p = registerForm.controls.phone;

        <div class="text-right col-span-3">
            <span></span>
        </div>

        @if(p?.invalid && (p?.dirty || p?.touched)) {
        <div class="col-span-7">
            <span class="font-bold text-xs text-destructive">
                @if(p?.hasError("required")) { 
                    This field is required 
                } 
            </span>
        </div>
        }
    </div>
</ng-template>

<ng-template #passwordField>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10  gap-1 mt-2">
        <label hlmLabel for="password" class="text-left sm:text-right col-span-3 mr-2"
            >Password*</label
        >
        <div class="flex flex-row col-span-7">
            <input
                hlmInput
                id="password"
                [type]="showPassword ? 'text' : 'password'"
                class="w-full"
                minlength="8"
                maxlength="24"
                [formControl]="registerForm.controls.password"
                #passwordInput
            />
            <button
                hlmBtn
                size="icon"
                variant="outline"
                class="h-10 w-12 ml-2"
                type="button"
                (click)="showPassword = !showPassword"
            >
                @if(passwordInput.type === 'password') {
                <hlm-icon size="sm" name="lucideEye" />
                } @if(passwordInput.type === 'text') {
                <hlm-icon size="sm" name="lucideEyeOff" />
                }
            </button>
        </div>
    </div>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mb-2 min-h-6">
        @let p = registerForm.controls.password;

        <div class="text-right col-span-3">
            <span></span>
        </div>

        @if(p?.invalid && (p?.dirty || p?.touched)) {
        <div class="col-span-7">
            <span class="font-bold text-xs text-destructive">
                @if(p?.hasError("required")) { This field is required }
                @if(p?.hasError("minlength")) { The password must be have more 8
                characters long } @if(p?.hasError("maxlength")) { The password
                must be have less 24 characters long }
            </span>
        </div>
        }
    </div>
</ng-template>

<ng-template #confirmPasswordField>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mt-2">
        <label
            hlmLabel
            for="confirm-password"
            class="text-left sm:text-right col-span-3 mr-2"
            >Confirm Password*</label
        >
        <div class="flex flex-row col-span-7">
            <input
                hlmInput
                id="confirm-password"
                [type]="showConfirmPassword ? 'text' : 'password'"
                class="w-full"
                [formControl]="registerForm.controls.confirmPassword"
                #confirmPasswordInput
            />
            <button
                hlmBtn
                size="icon"
                variant="outline"
                type="button"
                class="h-10 w-12 ml-2"
                (click)="showConfirmPassword = !showConfirmPassword"
            >
                @if(confirmPasswordInput.type === 'password') {
                <hlm-icon size="sm" name="lucideEye" />
                } @if(confirmPasswordInput.type === 'text') {
                <hlm-icon size="sm" name="lucideEyeOff" />
                }
            </button>
        </div>
        
    </div>
    <div class="flex flex-col sm:items-center sm:grid sm:grid-cols-10 gap-1 mb-2 min-h-6">
        @let cp = registerForm.controls.confirmPassword;

        <div class="text-right col-span-3">
            <span></span>
        </div>

        @if(cp?.invalid && (cp?.dirty || cp?.touched)) {
        <div class="col-span-7">
            <span class="font-bold text-xs text-destructive">
                @if(cp?.hasError("required")) { This field is required }
            </span>
        </div>
        } @if(registerForm.hasError("unmatch") && (registerForm.touched ||
        registerForm.dirty) && (cp?.dirty || cp?.touched)) {
        <div class="col-span-7">
            <span class="font-bold text-xs text-destructive">
                Confirm password and password must match
            </span>
        </div>
        }
    </div>
</ng-template>

<ng-template #displayError>
    @if(!vm.success && vm.message) {
    <div hlmAlert variant="destructive" class="mb-5">
        <hlm-icon hlmAlertIcon name="lucideTriangleAlert" />
        <h4 hlmAlertTitle>Error</h4>
        <p hlmAlertDesc>{{ vm.message }}</p>
    </div>
    }
</ng-template>
