<hlm-toaster />

<ng-container *ngrxLet="vm$ | async as vm">
    @defer() {
        <ng-container [ngTemplateOutlet]="body"></ng-container>
    } @loading (after 100ms; minimum 500ms) {
        <div class="w-full h-full flex flex-col justify-center items-center">
            <hlm-spinner  />
            <p class="font-bold mt-2">
                LOADING
            </p>
        </div>
    } @placeholder (minimum 500ms) { 
        <div class="w-full h-full flex flex-col justify-center items-center">
            <hlm-spinner  />
            <p class="font-bold mt-2">
                LOADING
            </p>
        </div>
    }
</ng-container>

<ng-template #body>
  <nav class="shadow-md">
    <app-navigation-bar> </app-navigation-bar>
  </nav>
</ng-template>
