<hlm-toaster />


@defer() {
    <div>
        <ng-container [ngTemplateOutlet]="body"></ng-container>
    </div>
} @loading (after 100ms; minimum 500ms) {
<ng-container [ngTemplateOutlet]="loading"></ng-container>
} @placeholder (minimum 500ms) {
<ng-container [ngTemplateOutlet]="loading"></ng-container>
}

<ng-template #loading>
    <div class="w-full h-full flex flex-col justify-center items-center">
        <hlm-spinner />
        <p class="font-bold mt-2">LOADING</p>
    </div>
</ng-template>

<ng-template #body>
    <nav class="shadow-sm shadow-[hsla(var(--foreground)/0.2)] sticky top-0 bg-[hsl(var(--background))] z-50" #nav>
        <div class="max-w-screen-xl mx-auto ">
            <app-navigation-bar> </app-navigation-bar>
        </div>
    </nav>
        <div class="max-w-screen-xl mx-auto p-3">
            <router-outlet></router-outlet>
        </div>
</ng-template>
