@defer() {
<ng-container [ngTemplateOutlet]="body"></ng-container>
} @loading (after 100ms; minimum 500ms) {
<ng-container [ngTemplateOutlet]="loading"></ng-container>
} @placeholder (minimum 500ms) {
<ng-container [ngTemplateOutlet]="loading"></ng-container>
}

<div class="sm:hidden absolute bottom-5 right-5">
    <button 
        hlmBtn 
        [brnMenuTriggerFor]="menu"
        size="icon" 
        variant="default"
    >
        <hlm-icon size="sm" name="bootstrapList"></hlm-icon>
    </button>
</div>

<ng-template #menu>
    <div>
        <main-category-list-mobile 
            [categories]="categories"
            [(current)]="currentCategory"
        ></main-category-list-mobile>
    </div>
</ng-template>

<ng-template #loading>
    <div class="w-full h-full flex flex-col justify-center items-center">
        <hlm-spinner />
        <p class="font-bold mt-2">LOADING</p>
    </div>
</ng-template>

<ng-template #body>
    {{ currentCategory.title }}
    <div class="flex flex-row sm:space-x-4">
        <div class="hidden sm:block">
            <ng-container [ngTemplateOutlet]="categoriesRef"></ng-container>
        </div>
        <div class="w-full self-stretch">
            <ng-container [ngTemplateOutlet]="deals"></ng-container>
        </div>
    </div>
    <ng-container [ngTemplateOutlet]="productsRef"></ng-container>
</ng-template>

<ng-template #categoriesRef>
    <main-category-list [categories]="categories" [(current)]="currentCategory"></main-category-list>
</ng-template>
<ng-template #deals>
    <carousel></carousel>
</ng-template>
<ng-template #productsRef>
    <div class="flex flex-col sm:grid sm:grid-cols-[repeat(auto-fit,minmax(14rem,max-content))] sm:gap-2 w-full mt-6">
        @for (product of products; track product.id) {
            <div>
                <product-card class="mb-2 sm:mb-0 col-span-1" [product]="product"></product-card>
            </div>
        }
    </div>
</ng-template>
