<ng-container *ngrxLet="(vm$ | async)! as vm">
  <hlm-dialog>
    <hlm-dialog-header>
      <h3 hlmDialogTitle>Login</h3>
      <p hlmDialogDescription>
        Make to enter username or email
      </p>
    </hlm-dialog-header>
      <div class="py-4 grid gap-4">
        <form [formGroup]="loginForm" (ngSubmit)="submit()">
          <div class="items-center grid grid-cols-4 gap-4 mt-2 mb-5">
            <label hlmLabel for="username_or_email" class="text-right"
              >Username/Email</label
            >
            <input
              hlmInput
              id="username_or_email"
              type="text"
              class="col-span-3"
              formControlName="username_or_email"
            />
          </div>
          <div class="items-center grid grid-cols-4 gap-4 mt-2 mb-5">
            <label hlmLabel for="password" class="text-right">Password</label>
            <input
              hlmInput
              id="password"
              type="password"
              class="col-span-3"
              minlength="8"
              maxlength="24"
              formControlName="password"
            />
          </div>
          <div class="items-center grid grid-cols-4 gap-4 mt-2 mb-5">
            <div class="text-right">
              <span class="text-sm font-medium text-destructive">
                @if(!vm.success && vm.message) {
                  Error: 
                }
              </span>
            </div>
            <div class="col-span-3">
              <span class="text-sm font-medium text-destructive">
                @if(!vm.success && vm.message) {
                  {{ vm.message }}
                }
              </span>
            </div>
          </div>
          <button class="w-full" hlmBtn type="submit" (click)="submit()">
            @if(vm.logging) {
              <hlm-spinner class="w-5 h-5" />
            } @else {
              LOGIN
            }
          </button>
        </form>
      </div>
    <hlm-dialog-footer>
      <div class="w-full flex flex-col items-center">
        <span class="mt-2 text-sm">
          Don't have an account? <a class="text-primary cursor-pointer underline" (click)="register()">Create one</a>
        </span>
      </div>
    </hlm-dialog-footer>
  </hlm-dialog>
</ng-container>
