<section hlmCard 
    class="
        h-full
        hover:shadow-sm hover:shadow-[hsl(var(--foreground))] 
        transition-all"
>
    <div hlmCardContent class="p-3 sm:p-4 sm:pt-6">
        <div class="aspect-square">
            <img class="w-full h-full object-center object-contain" [src]="gear().image_url" [alt]="gear().name">
        </div>
        <div class="h-8 mt-6">
            <h3 class="text-sm font-semibold leading-4 line-clamp-2 text-ellipsis mt-4">{{ gear().name }}</h3>
        </div>
        <div class="mt-6 flex flex-col sm:flex-row items-center justify-between">
            <div class="text-center sm:text-left">
                @let price = gear().price;
                @let discount = gear().discount;

                <span class="flex flex-row items-center text-xs sm:text-sm h-5">
                    @if(discount !== price) {
                        <h5 class="line-through text-[hsl(var(--muted-foreground))]">
                            {{ price | currency:'VND' }}
                        </h5>
                        <div class="
                            p-0.5 ml-2 font-semibold border rounded 
                            text-[hsl(var(--primary))]
                            border-[hsl(var(--primary))]"
                        >
                            {{ price | DiscountPercent:discount }}
                        </div>
                    }
                </span>
                <h5 
                    class=" p-1 text-sm sm:text-lg font-semibold h-7 "
                >
                    {{ discount | currency:'VND' }}
                </h5>
            </div>
            <div class="flex flex-col items-end">
                <div class="h-full flex flex-row items-center">
                    <hlm-tooltip>
                        <button class="h-10 w-10 mr-1" hlmBtn size="icon" hlmTooltipTrigger variant="ghost">
                            <hlm-icon size="sm" name="bootstrapCartPlus" class="text-[hsl(var(--primary))]"></hlm-icon>
                        </button>
                        <span *brnTooltipContent>Add Gear to Cart</span>
                    </hlm-tooltip>
                    <hlm-tooltip>
                        <button class="h-10 w-10" hlmBtn size="icon" hlmTooltipTrigger variant="ghost"
                            (click)="handleOnCopyGearID(gear().id)">
                            <hlm-icon size="sm" name="bootstrapCopy" class="text-[hsl(var(--muted-foreground))]"></hlm-icon>
                        </button>
                        <span *brnTooltipContent>Copy Gear ID</span>
                    </hlm-tooltip>
                </div>
            </div>
        </div>
    </div>
</section>