<div class="flex items-center justify-center w-full h-40 sm:h-full" (mousedown)="dragging()" (mouseup)="stopDrag()">
    <hlm-carousel class="w-full h-full" [options]="{
        loop: true,
        duration: 5,
    }" #carousel>
        <hlm-carousel-content class="w-full h-full ml-0" >
            @for (item of items; track item) {
            <hlm-carousel-item class="w-full h-full pl-0">
                <section hlmCard class="w-full h-full">
                    <p
                        hlmCardContent
                        class="h-full flex items-center justify-center p-0"
                    >
                        <span class="text-4xl font-semibold">{{
                            item
                        }}</span>
                    </p>
                </section>
            </hlm-carousel-item>
            }
        </hlm-carousel-content>
        <button hlm-carousel-previous class="left-5" (click)="reset()"></button>
        <button hlm-carousel-next class="right-5" (click)="reset()"></button>
    </hlm-carousel>
</div>
